# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Fri Apr 12 17:52:51 CDT 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
